/* login */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: url("../images/background.jpeg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container login */
.login-container {
  background: rgba(43, 104, 28, 0.92); /* semi transparan */
  padding: 40px;
  border-radius: 12px;
  width: 360px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  text-align: center;
}

/* Branding */
.login-container h1 {
  font-size: 20px;
  color: #052004;
  margin-bottom: 10px;
  font-weight: 600;
}

.login-container h2 {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 25px;
  font-weight: bold;
}

/* Form group */
.form-group {
  margin-bottom: 18px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  color: #ffffff;
  font-weight: 600;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

/* Tombol login */
.btn {
  width: 100%;
  padding: 12px;
  background: #052a18;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #72a870;
}

/* Pesan error */
.error {
  color: red;
  margin-bottom: 15px;
  font-size: 14px;
}

/* Responsive */
@media (max-width: 480px) {
  .login-container {
    width: 90%;
    padding: 30px;
  }
}